/******************************************
 * RESET
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img,
strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
article, aside, canvas, figure, figcaption, footer, header, hgroup, 
menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

/******************************************
 * RESET END
 */
 
body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    background: #000;
}

.puzzle-board {
    width: 960px;
    min-height: 640px;
    margin: 20px auto 160px;
    position: relative;
}

.puzzle-board img {
    max-width: 100%;
}

.puzzle-piece {
    position: absolute;
    outline: 1px solid white;
    background: transparent none no-repeat;
}

.puzzle-piece.held {
    z-index: 9999;
    outline: 2px solid white;
    opacity: 0.7;
    -webkit-box-shadow: 10px 10px 10px black;
    box-shadow: 10px 10px 10px black;
}
